.notfound-container {
  height: 100vh;
  display: flex;                
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 40px;
  text-align: center;
}

.notfound-titulo {
  font-size: 48px;
}

.notfound-texto {
  font-size: 22px;
  color: #fff;                  
}

.notfound-texto-arriba-boton {
  font-size: 22px;
  padding-bottom: 30px;
}

.notfound-boton {
  background-color: white;
  color: black;
  padding: 10px 20px;
  border-radius: 5px;
  font-weight: bold;
  text-decoration: none;        
}
