/* Resets */
*{
    box-sizing: border-box;
}
ul,ol {
    padding: 0;
}
li {
    list-style-type:none;
}
a {
    text-decoration: none;
    color: #000;
}
body {
    font-family: Nunito;
    margin: 0;
    background-color: #eee;
}

/*Peliculas*/

.peliculaCard {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px 20px 10px 20px;
}
.peliculaCard .pelicula {
    border-radius: 4px;
    margin-bottom: 15px;
    padding: 0 20px;
    color: #fff;
}
.pelicula {
    color: #777;
    font-size: 20px;
    padding: 10px;
    margin-bottom: 20px;
    width: 24%;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 .15rem 1.75rem 0 rgba(58,59,69,.15);
}

.pelicula img{
    width: 100%;
    margin-bottom: 20px; 
}

.pelicula p {
    margin: 3px 0;
}

.pelicula h2 {
    margin: 2px 0;
}

.text {
    color: grey;
}

.imagen {
    width: 100%;
}

.popular {
    margin-left: 20px;
}

.formularioFiltrar {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    margin: 20px 0;
}

.inputFiltrar {
    width: 40%;
    padding: 10px 15px; 
    font-size: 15px;
    border: 2px rgb(92, 92, 92) solid;
    border-radius: 15px;
}

button {
    background-color: red;
    color: white;            
    padding: 10px 20px;        
    font-size: 15px;          
    border-radius: 5px;    
    border: none;
    margin-bottom: 20px;  
    margin-left: 20px; 
}

.mostrar {
    color: black;
}