
/* Resets */
*{
    box-sizing: border-box;
}
ul,ol {
    padding: 0;
}
li {
    list-style-type:none;
}

body {
    background-color: black;
    color: white;
}


/*Peliculas*/

.alert {
    margin-left: 15px;
}
.filter-form {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    margin: 20px 0;
}

.btn-sm{
    background-color: red;
    color: white;            
    padding: 10px 20px;        
    font-size: 15px;          
    border-radius: 5px;    
    border: none;
    margin-bottom: 20px;  
    margin-left: 20px; 
}

.btn {
    margin-top: 10px;
}
.filter-form input {
    vertical-align: middle;
    line-height: 1;
    padding-bottom: 4px;
    width: 40%;
    padding: 10px 15px; 
    font-size: 15px;
    border: 1px rgb(255, 0, 0) solid;
    border-radius: 15px;
}
.filter-form input {
    line-height: 1.5;
}
.cards {
    padding: 20px 20px 10px 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 2%;
}

.cards .cardBody {
    border-radius: 4px;
    margin-bottom: 15px;
    padding: 0 20px;
    color: #000000;
}
.cardBody {
    margin-top: 20px;
}

.cardBody {
    color: #777;
    font-size: 20px;
    padding: 10px;
    margin-bottom: 20px;
    width: 100%;
    border-radius: 5px;
    box-shadow: 0 .15rem 1.75rem 0 rgba(58,59,69,.15);
}

.cardBody p {
    margin: 3px 0;
}

.cardBody h2 {
    margin: 2px 0;
} 

.card-title {
    color: black;
}

.single-card-tv{
    width: 23%;   
    margin-bottom: 20px;
    background: #fff; 
    border-radius: 5px;
} 

.single-card-tv img {
    width: 100%;
}

.all-series .single-card-tv {
    width: 23%;
}

