
* {
    box-sizing: border-box;
}

ul,
ol {
    padding: 0;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #000;
}

body {
    font-family: Nunito;
    margin: 0;
    color: white;
    background-color: #000000;
}


nav {
    display: flex;
    align-items: center;
    padding: 0 20px;
    background-color: red;
    color: #fff;

}

nav ul {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
  }
  
  nav ul li {
    margin-right: 20px;        
  }
  
  .logo li {
    display: flex;
    align-items: center;
  }
  
  .logo img {
    width: 150px;
    height: auto;
  }
  
  h1, h2 {
    font-weight: 400;
  }
  
  h1,
  main {
    padding: 0 30px;
  }